<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lostfoundapp">

    <application
        android:allowBackup="true"
        tools:targetApi="31"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LostFoundAPP">

        <!-- 1. Launcher screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 2. Create‑advert form -->
        <activity
            android:name=".AddItemActivity"
            android:exported="false"/>

        <!-- 3. List of all lost & found items -->
        <activity
            android:name=".ShowItemsActivity"
            android:exported="false"/>

        <!-- 4. Detail + Remove screen -->
        <activity
            android:name=".ItemDetailActivity"
            android:exported="false"/>

    </application>
</manifest>
